<section class="content">

  <div class="row">

    <div class="col-lg-6">
      <div class="small-box bg-info">
        <div class="inner">
          <h3><%= totalDevices %></h3>
          <p>Total Devices</p>
        </div>
        <div class="icon">
          <i class="fas fa-mobile"></i>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="small-box bg-success">
        <div class="inner">
          <h3><%= totalMessages %></h3>
          <p>Total Messages</p>
        </div>
        <div class="icon">
          <i class="fas fa-comments"></i>
        </div>
      </div>
    </div>

  </div>

  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Realtime Messages</h3>
    </div>
    <div class="card-body" id="realtimeMessages"></div>
  </div>

</section>
